$primary: var(--primary, '#006400');
$textprimary: $primary;
$secondary: var(--secondary, '#27660a');
$toptools: var(--toptools, '#212121');
$livescore-header-table: var(--livescore-header-table, '#27660a');
$textcolor: var(--textcolor, #fff);
$hovercolor: var(--hovercolor, #ffde00);
$backgroundcolor: var(--backgroundcolor, #e5e5e5);
$backgroundlight: #fff;
$bordercolor: #ffffff80;
$drawcolor: #348ce2;
$wincolor: #2b6617;
$losecolor: #d64444;
$backgroundfooter: var(--backgroundfooter, #555);
$tabsactive: var(--tabsactive, #FF8C00);
$white: #fff;
$gray3: #f9f9f9;
$gray5: #f5f5f5;
$gray10: #f0f0f0;
$gray20: #eaeaea;
$gray30: #e5e5e5;
$gray40: #dadada;
$gray45: #d0d0d0;
$gray50: #999;
$gray60: #666;
$gray65: #555;
$gray70: #444;
$gray80: #333;
$gray90: #222;
$gray95: #151515;
$black: #000;
$black85: rgba(0,0,0,.85);
$black60: rgba(0,0,0,.6);
$black50: rgba(0,0,0,.5);
$black40: rgba(0,0,0,.4);
$black30: rgba(0,0,0,.3);
$black20: rgba(0,0,0,.2);
$black15: rgba(0,0,0,.15);
$black05: rgba(0,0,0,.05);
$white85: rgba(255,255,255,.85);
$white70: rgba(255,255,255,.7);
$white60: rgba(255,255,255,.6);
$white45: rgba(255,255,255,.45);
$white30: rgba(255,255,255,.3);
$white20: rgba(255,255,255,.2);
$white10: rgba(255,255,255,.1);
$primary-color: #307b06;
$second-color: #226204;
$thirdly-color: $tabsactive;
$red20: #ec7979;
$red40: #d64444;
$red60: #be0000;
$blue10: #e7eef8;
$blue40: #0D632B;
$blue60: #0057a6;
$green40: #0d9f1c;
$yellow20: #fffae0;
$yellow30: #fff6d1;
$yellow60: #ffc700;
$redbg: #ffe8e8;
$greenbg: #e5ffd9;
$goalbg: #ffe99c;
$home_team: #de682f;
$away_team: #2495da;
$table_header: $gray10;
$table_highlight: var(--gray5);
$down: red;
$up: green;
$body-bg: $gray30;
$footer-bg: var(--gray65);
$white-bg: var(--white);
$bgcolor-1: var(--white);
$bgcolor-2: var(--gray5);
$bgcolor-3: $gray30;
$bgcolor-4: var(--gray40);
$text-white: var(--white);
$textcolor-1: $gray90;
$textcolor-2: var(--gray60);
$textcolor-3: var(--gray50);
$textcolor-4: var(--gray40);
$border-1: var(--white);
$border-2: $gray10;
$border-3: var(--gray30);
$border-4: var(--gray45);
