.icon-weather:before {
  content: "\e692";
}

.icon-b-ant-off:before {
  content: "\e691";
}

.icon-b-ant-on:before {
  content: "\e690";
}

.icon-tennis_racket:before {
  content: "\e68e";
}

.icon-tennis_ball:before {
  content: "\e68f";
}

.icon-icon-live1:before {
  content: "\e68c";
}

.icon-icon-live2:before {
  content: "\e68d";
}

.icon-drop-down:before {
  content: "\e685";
}

.icon-font-display:before {
  content: "\e684";
}

.icon-live:before {
  content: "\e61c";
}

.icon-icon-corner1:before {
  content: "\e61a";
}

.icon-footballclass2:before {
  content: "\e618";
}

.icon-footballclass1:before {
  content: "\e619";
}

.icon-font-rank:before {
  content: "\e616";
}

.icon-font-footballclass:before {
  content: "\e64d";
}

.icon-font-sendont:before {
  content: "\e64e";
}

.icon-font-esports:before {
  content: "\e64f";
}

.icon-font-topping:before {
  content: "\e650";
}

.icon-font-hide:before {
  content: "\e651";
}

.icon-font-bonus:before {
  content: "\e652";
}

.icon-font-analysis:before {
  content: "\e653";
}

.icon-font-camera:before {
  content: "\e654";
}

.icon-font-delete:before {
  content: "\e655";
}

.icon-font-follow:before {
  content: "\e656";
}

.icon-font-hit:before {
  content: "\e657";
}

.icon-font-hot:before {
  content: "\e658";
}

.icon-font-emailver:before {
  content: "\e659";
}

.icon-font-profile-email:before {
  content: "\e65a";
}

.icon-font-membershipchengyuanguanli:before {
  content: "\e65b";
}


.icon-font-manypeople:before {
  content: "\e65d";
}

.icon-font-profile-password:before {
  content: "\e65e";
}

.icon-font-profile-withdrawalaccount:before {
  content: "\e65f";
}

.icon-font-report2:before {
  content: "\e660";
}

.icon-font-index:before {
  content: "\e661";
}

.icon-font-report:before {
  content: "\e662";
}

.icon-font-improper:before {
  content: "\e663";
}

.icon-font-time:before {
  content: "\e664";
}

.icon-font-sharearticel:before {
  content: "\e665";
}

.icon-font-record:before {
  content: "\e666";
}

.icon-font-subscribe:before {
  content: "\e667";
}

.icon-font-wifi:before {
  content: "\e668";
}

.icon-font-wallet:before {
  content: "\e669";
}

.icon-icon_help:before {
  content: "\e66a";
}

.icon-baseball:before {
  content: "\e66b";
}

.icon-font-forbidden:before {
  content: "\e66c";
}

.icon-font-subscribe2:before {
  content: "\e66d";
}

.icon-matchdata:before {
  content: "\e66e";
}

.icon-analysis:before {
  content: "\e66f";
}

.icon-odds:before {
  content: "\e670";
}

.icon-t5:before {
  content: "\e671";
}

.icon-font-share:before {
  content: "\e672";
}

.icon-font-pk:before {
  content: "\e673";
}

.icon-font-live1:before {
  content: "\e674";
}

.icon-font-live2:before {
  content: "\e675";
}

.icon-font-report21:before {
  content: "\e676";
}

.icon-font-report3:before {
  content: "\e677";
}

.icon-cricbat:before {
  content: "\e678";
}

.icon-criball:before {
  content: "\e679";
}

.icon-cricket:before {
  content: "\e67a";
}

.icon-warning:before {
  content: "\e67b";
}

.icon-font-Telep:before {
  content: "\e67c";
}

.icon-fond-add:before {
  content: "\e67d";
}

.icon-font-ID:before {
  content: "\e67e";
}

.icon-font-number:before {
  content: "\e67f";
}

.icon-font-charge:before {
  content: "\e680";
}

.icon-font-index1:before {
  content: "\e681";
}

.icon-font-injured:before {
  content: "\e682";
}

.icon-font-Assists:before {
  content: "\e683";
}

.icon-font-female-yes:before {
  content: "\e686";
}

.icon-font-male-yes:before {
  content: "\e687";
}

.icon-font-male:before {
  content: "\e688";
}

.icon-font-Tennis-y:before {
  content: "\e689";
}

.icon-font-female:before {
  content: "\e68a";
}

.icon-font-Tennis:before {
  content: "\e68b";
}

.icon-font-animation:before {
  content: "\e69b";
}

.icon-font-push:before {
  content: "\e69c";
}

.icon-font-collect-on:before {
  content: "\e69f";
}

.icon-font-sort:before {
  content: "\e6a0";
}

.icon-font-varicon:before {
  content: "\e6a1";
}

.icon-font-upload:before {
  content: "\e6a3";
}

.icon-font-upload-1:before {
  content: "\e6a4";
}

.icon-font-logout:before {
  content: "\e6a5";
}

.icon-font-menu2:before {
  content: "\e6a6";
}

.icon-font-switch:before {
  content: "\e6a8";
}

.icon-font-doubleopen-off:before {
  content: "\e6a9";
}

.icon-font-index-on:before {
  content: "\e6aa";
}

.icon-font-doubleopen-on:before {
  content: "\e6ab";
}

.icon-font-heat:before {
  content: "\e6ac";
}

.icon-font-prohibit:before {
  content: "\e6ad";
}

.icon-font-live:before {
  content: "\e6ae";
}

.icon-font-injured1:before {
  content: "\e6af";
}

.icon-font-live-2:before {
  content: "\e6b0";
}

.icon-t5-2:before {
  content: "\e6b1";
}

.icon-icon-corner:before {
  content: "\e6b2";
}

.icon-icon-detail:before {
  content: "\e6b3";
}

.icon-font-set:before {
  content: "\e6b4";
}

.icon-font-events-exit:before {
  content: "\e611";
}

.icon-font-events-enter:before {
  content: "\e612";
}

.icon-font-events-red:before {
  content: "\e613";
}

.icon-font-setup:before {
  content: "\e617";
}

.icon-font-becareful:before {
  content: "\e61b";
}

.icon-font-dialogue:before {
  content: "\e61d";
}

.icon-font-connect:before {
  content: "\e61e";
}

.icon-font-diamonds2:before {
  content: "\e61f";
}

.icon-font-diamonds:before {
  content: "\e620";
}

.icon-font-doubt:before {
  content: "\e621";
}

.icon-font-expert:before {
  content: "\e622";
}

.icon-font-open-on:before {
  content: "\e623";
}

.icon-font-open-off:before {
  content: "\e624";
}

.icon-font-picture:before {
  content: "\e625";
}

.icon-font-opinion:before {
  content: "\e626";
}

.icon-font-signin:before {
  content: "\e627";
}

.icon-font-signin2:before {
  content: "\e628";
}

.icon-font-mail:before {
  content: "\e62a";
}

.icon-font-more:before {
  content: "\e62b";
}

.icon-font-adduser:before {
  content: "\e62c";
}

.icon-font-return:before {
  content: "\e62d";
}

.icon-font-returnon:before {
  content: "\e62e";
}

.icon-font-proaganda:before {
  content: "\e62f";
}

.icon-font-small-administrators:before {
  content: "\e630";
}

.icon-font-small-display:before {
  content: "\e631";
}

.icon-font-small-lock:before {
  content: "\e632";
}

.icon-font-small-reply:before {
  content: "\e633";
}

.icon-font-small-document:before {
  content: "\e634";
}

.icon-font-small-support-on:before {
  content: "\e635";
}

.icon-font-small-support-off:before {
  content: "\e637";
}

.icon-font-password:before {
  content: "\e638";
}

.icon-font-choice:before {
  content: "\e639";
}

.icon-font-homepage-on:before {
  content: "\e63a";
}

.icon-font-homepage-off:before {
  content: "\e63b";
}

.icon-font-change:before {
  content: "\e63c";
}

.icon-font-change_new:before {
  content: "\e63d";
}

.icon-font-top:before {
  content: "\e63e";
}

.icon-font-small-support-off1:before {
  content: "\e63f";
}

.icon-font-small-support-on1:before {
  content: "\e640";
}

.icon-font-open-off1:before {
  content: "\e641";
}

.icon-font-open-on1:before {
  content: "\e642";
}

.icon-font-refresh:before {
  content: "\e643";
}

.icon-font-basketballclass:before {
  content: "\e644";
}

.icon-font-class:before {
  content: "\e645";
}

.icon-font-screen:before {
  content: "\e646";
}

.icon-font-calendar:before {
  content: "\e647";
}

.icon-font-setup1:before {
  content: "\e649";
}

.icon-font-lineup:before {
  content: "\e64a";
}

.icon-font-reduce:before {
  content: "\e64b";
}

.icon-font-plus:before {
  content: "\e64c";
}

.loading-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  outline: 0;
  align-items: center;
}