// @import '_colors.scss';

#info {
    margin: 0 auto 10px auto;
    #analysis-main {
        background-color: $backgroundlight;
        padding: 0px;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .lo-f2 {
            color: #d64444;
            font-weight: bold;
        }
        .home-bg, .home-m {
            background-color: #de682f;
        }
        .away-bg, .guest-m {
            background-color: #2495da;
        }
        .draw-bg {
            background-color: #999;
        }
        .o-win {
            background-color: #f00 !important;
            color: #fff !important;
        }
        .o-lose {
            background-color: $secondary !important;
            color: #fff !important;
        }
        .o-draw {
            background-color: #348ce2 !important;
            color: #fff !important;
        }
        .red, .red2 {
            color: #d64444;
        }
        .home-m, .guest-m {
            color: #fff;
        }
        .fx {
            background-color: #f9f9f9;
            padding: 10px;
            .vote {
                display: flex;
                font-size: 16px;
                text-align: center;
                align-items: center;
                justify-content: space-between;
                margin: 10px 5px 5px 5px;
                font-weight: bold;
                .teamicon {
                    flex: 0 0 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
                .button {
                    flex: 1;
                    .pItem {
                        background: #fff;
                        border: 1px solid #e5e5e5;
                        width: 20%;
                        height: auto;
                        line-height: 20px;
                        font-size: 12px;
                        font-weight: 600;
                        text-align: center;
                        padding: 5px 10px;
                        margin: 0 auto;
                        border-radius: 30px;
                        display: inline-block;
                        cursor: pointer;
                        min-width: 65px;
                    }
                }
                .win-f, .draw-f, .lose-f {
                    color: #ee6435;
                    span {
                        color: #999;
                        font-size: 12px;
                        font-weight: normal;
                        vertical-align: 1px;
                        margin-left: 4px;
                    }
                }
                .draw-f {
                    color: #348ce2;
                }
                .lose-f {
                    color: #60b723;
                }
            }
            .vote-bar {
                height: 10px;
                margin: 5px 0 15px 0;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                width: 100%;
                .barH {
                    height: 100%;
                    position: absolute;
                    left: 0;
                    border-right: 2px solid #f0f0f0;
                    border-radius: 0;
                    margin-left: 0;
                }
                .barG {
                    height: 100%;
                    position: absolute;
                    right: 0;
                    border-left: 2px solid #f0f0f0;
                    border-radius: 0;
                    margin-right: 0;
                }
            }
            .o-draw {
                background-color: #348ce2 !important;
            }
        }
        .radar {
            .home_score, .guest_score {
                font-weight: bold;
                font-size: 35px;
                text-align: center;
            }
            .home_score {
                color: #de682f;
            }
            .guest_score {
                color: #2495da;
            }
            .box_map_radar {
                margin-top: 15px;
                align-content: center;
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }
        .bar {
            .options {
                text-align: center;
                margin-top: 15px;
                padding: 0;
                span {
                    background: #e5e5e5;
                    padding: 2px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    li {
                        color: #888;
                        flex: 1;
                        padding: 8px 0;
                        text-align: center;
                        line-height: normal;
                        vertical-align: middle;
                        cursor: pointer;
                        display: inline-block;
                    }
                    .on {
                        background: #fff;
                        color: #000;
                        font-weight: bold;
                        border-radius: 20px;
                    }
                }
            }
            .fx-tb-a {
                width: 100%;
                margin: 25px auto 0 auto;
                padding: 0;
                li {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 15px;
                    display: flex;
                    &:first-child {
                        display: inline;
                    }
                    .fx-tb-title {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        span {
                            font-weight: bolder;
                            font-size: 15px;
                        }
                        .team-home-f {
                            color: #e27a48;
                        }
                        .team-away-f {
                            color: #3f9ed8;
                        }
                    }
                    .team-h1 {
                        margin-bottom: 15px;
                        .home-bg {
                            display: inline-block;
                            height: 3px;
                        }
                        .away-bg {
                            display: inline-block;
                            height: 3px;
                        }
                    }
                    .fx-tb-title {
                        .tb-title-all {
                            font-weight: normal;
                            font-size: 12px;
                            text-align: center;
                            display: block;
                            width: 100%;
                        }
                    }
                    .detail {
                        width: 21%;
                        display: inline-block;
                        float: left;
                        position: relative;
                        bottom: 5px;
                    }
                    .fx-td-data {
                        width: 28%;
                        height: 8px;
                        float: left;
                        position: relative;
                        margin: 0 1px;
                        border-radius: 4px 0 0 4px;
                        background-color: #e5e5e5;
                        div {
                            height: 8px;
                            bottom: 0;
                            position: absolute;
                            border-radius: 4px 0 0 4px;
                            right: 0;
                        }
                    }
                    .guest {
                        border-radius: 0 4px 4px 0;
                        div {
                            right: auto;
                            border-radius: 0 4px 4px 0;
                            float: right;
                        }
                    }
                }
                .fx-tb-label {
                    margin-bottom: 5px;
                }
            }
        }
        .survey {
            width: 100%;
            text-align: center;
            margin-top: 10px;
            .tips {
                color: #333;
                line-height: normal;
                padding: 5px 0;
            }
            .supportbtn {
                margin: 10px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .good, .bad {
                    border: 1px solid $secondary;
                    width: 50px;
                    height: 50px;
                    font-size: 12px;
                    border-radius: 50%;
                    margin: 0 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &::before {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
                .bad {
                    border: 1px solid #f00;
                    &::before {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .team-div {
            .team-table-home {
                .team-home {
                    td {
                        background-color: #de682f;
                        line-height: 28px;
                        span {
                            color: #fff;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .team-table-guest {
                .team-guest {
                    td {
                        background-color: #2495da;
                        line-height: 28px;
                        span {
                            color: #fff;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .team-home-f {
                color: #de682f;
            }
            .team-away-f {
                color: #2495da;
            }
        }
        .other-title {
            td {
                background-color: #888;
                line-height: 28px;
                color: #fff;
                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                }
                input[type="checkbox"] {
                    margin: 2px 5px 0 0;
                    vertical-align: -2px;
                    cursor: pointer;
                }
            }
        }
        .table-no-db-lr {
            tr {
                th, td {
                    border: 0px;
                    border-bottom: 1px solid #d8d8d8;
                    a {
                        span {
                            color: #333;
                        }
                        .team-home-f {
                            color: #e27a48;
                        }
                        .team-away-f {
                            color: #3f9ed8;
                        }
                    }
                }
            }
        }
        .table-bd-lr {
            border-left: 1px solid #d8d8d8 !important;
            border-right: 1px solid #d8d8d8 !important;
            select {
                margin: 0 3px;
            }
        }
        .table-bd-l {
            border-left: 1px solid #d8d8d8 !important;
        }
        .table-bd-r {
            border-right: 1px solid #d8d8d8 !important;
        }
        .team-table-other {
            tr {
                th {
                    background: #f9f9f9;
                    border: 1px solid #e5e5e5;
                }
                td {
                    padding: 0;
                    a {
                        span {
                            color: #333;
                        }
                        .team-home-f {
                            color: #e27a48;
                        }
                    }
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
        .o-lose, .o-win, .o-draw, .o-none {
            color: #fff;
            border-radius: 2px;
            width: 17px;
            display: inline-block;
            line-height: 17px;
            text-align: center;
            margin: 0 2px;
        }
        .team-home {
            td {
                background-color: #de682f !important;
                color: #fff !important;
                text-align: center;
                line-height: 28px;
                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                }
                input[type="checkbox"] {
                    margin: 2px 5px 0 0;
                    vertical-align: -2px;
                    cursor: pointer;
                }
            }
        }
        .team-guest {
            td {
                background-color: #2495da !important;
                color: #fff !important;
                text-align: center;
                line-height: 28px;
                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                }
                input[type="checkbox"] {
                    margin: 2px 5px 0 0;
                    vertical-align: -2px;
                    cursor: pointer;
                }
            }
        }
        .same-odds {
            .fx-vote-data {
                justify-content: center;
                .ext {
                    b {
                        margin: 0 5px;
                    }
                    .blue {
                        color: #0089f1;
                    }
                }
                .statistics {
                    margin: 10px 0;
                    .item {
                        display: flex;
                        justify-content: center;
                        border-right: 1px solid #e5e5e5;
                        .fx-ht-data {
                            height: 80px;
                            margin: 20px 0 5px 0;
                            flex: 1;
                            display: flex;
                            align-items: flex-end;
                            justify-content: center;
                            div {
                                flex: 0 0 50%;
                                margin: 0 5px;
                                border-bottom: 2px solid transparent;
                                border-radius: 5px 5px 0 0;
                                position: relative;
                                height: 0;
                                transition: height 1s ease;
                                .fx-ht-data-w {
                                    width: 100%;
                                    font-weight: bold;
                                    position: absolute;
                                    top: -18px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                            .home-bg {
                                .fx-ht-data-w {
                                    color: #de682f;
                                }
                            }
                            .draw-bg {
                                .fx-ht-data-w {
                                    color: #999;
                                }
                            }
                            .away-bg {
                                .fx-ht-data-w {
                                    color: #2495da;
                                }
                            }
                        }
                    }
                    .pItem {
                        color: #333;
                        padding: 4px 10px;
                        margin: 10px 20px 5px 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        background: #fff;
                        border: 1px solid #c5c5c5;
                        height: auto;
                        line-height: 20px;
                        font-size: 12px;
                        font-weight: 600;
                        text-align: center;
                        border-radius: 30px;
                    }
                }
            }
        }
        .ext {
            margin: 10px 0;
            .ident {
                margin: 0 5px;
                display: inline-block;
                i {
                    width: 10px;
                    height: 10px;
                    margin: 0 5px;
                    border-radius: 2px;
                    display: inline-block;
                }
            }
        }
        .table-two {
            .home-bg, .away-bg {
                width: 100%;
            }
            .team-table-xq-home {
                a {
                    font-size: 16px;
                    color: #e27a48;
                    font-weight: bold;
                }
            }
            .team-table-xq-guest {
                a {
                    font-size: 16px;
                    color: #3f9ed8;
                    font-weight: bold;
                }
            }
        }
        .table-three {
            .team-div {
                .home-m, .guest-m {
                    line-height: 28px;
                    text-align: center;
                    font-size: 14px;
                    a {
                        color: #fff !important;
                    }
                }
                .Lineup {
                    line-height: 25px;
                    padding-left: 10px;
                    background-color: #fffcec;
                    border-bottom: 1px solid #e6deb1;
                    &:before {
                        display: inline-grid;
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: #f5d155;
                        border-radius: 20px;
                        margin-right: 8px;
                    }
                }
                .guest-div {
                    .Lineup {
                        background-color: #ecf8ff;
                        border-bottom: 1px solid #cbdfec;
                    }
                }
                .player-list {
                    padding: 10px 0;
                    background-color: #f9f9f9;
                    margin: 0;
                    line-height: 28px;
                    .player-row {
                        white-space: nowrap;
                        overflow: hidden;
                        padding-right: 10px;
                        cursor: pointer;
                        b {
                            display: inline-block;
                            margin-right: 5px;
                            width: 20px;
                            text-align: center;
                            color: #386e90;
                        }
                        span {
                            background: #e5e5e5;
                            display: inline-block;
                            margin-right: 5px;
                            width: 20px;
                            text-align: center;
                            border-radius: 20px;
                            line-height: 20px;
                        }
                        a {
                            display: inline-block;
                            vertical-align: -8px;
                            width: 180px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            &:hover {
                                color: $tabsactive;
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .Backup {
                    line-height: 25px;
                    padding-left: 10px;
                    background-color: #eaeaea;
                    border-bottom: 1px solid #d8d8d8;
                    &:before {
                        display: inline-grid;
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: #bdbdbd;
                        border-radius: 20px;
                        margin-right: 8px;
                    }
                }
            }
        }
        .table-compare {
            .compare {
                background: #f9f9f9;
                .title {
                    background: #f0f0f0;
                    color: #666;
                    font-size: 14px;
                    line-height: 30px;
                    border-top: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    margin: 0;
                    position: relative;
                    .center-title {
                        position: absolute;
                    }
                }
                .content {
                    margin: 0;
                    padding: 0;
                    .fx {
                        .fx-tb-a {
                            padding: 0;
                            li {
                                text-align: center;
                                margin-bottom: 10px;
                                display: flex;
                                flex-wrap: wrap;
                                align-content: center;
                                justify-content: center;
                                align-items: center;
                                flex-direction: row;
                                .fx-tb-title {
                                    padding-bottom: 6px;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }
                                .fx-td-data {
                                    width: 48.5%;
                                    height: 8px;
                                    position: relative;
                                    margin: 0 1px;
                                    border-radius: 4px 0 0 4px;
                                    background-color: #e5e5e5;
                                    div {
                                        height: 8px;
                                        bottom: 0;
                                        position: absolute;
                                        border-radius: 4px 0 0 4px;
                                        right: 0;
                                    }
                                }
                                .guest {
                                    border-radius: 0 4px 4px 0;
                                    div {
                                        right: auto;
                                        border-radius: 0 4px 4px 0;
                                    }
                                }
                            }
                        }
                    }
                    .scoreComp {
                        // border-right: 1px solid #c5c5c5;
                    }
                }
                h4 {
                    background: #f0f0f0;
                    color: #666;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    text-align: center;
                    font-size: 14px;
                    line-height: 30px;
                    padding: 0;
                    border-top: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                }
                .div-h4 {
                    background: #f0f0f0;
                    color: #666;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    text-align: center;
                    font-size: 14px;
                    line-height: 30px;
                    padding: 0;
                    border-top: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                }
                .fx-home, .fx-guest {
                    padding: 5px 0;
                    overflow: visible;
                    position: relative;
                    .fx-logo {
                        position: absolute;
                        top: 185px;
                        img {
                            height: 80px;
                            vertical-align: middle;
                            margin: 0 20px;
                            border: 1px solid #e5e5e5;
                            padding: 10px;
                            background-color: #fff;
                            border-radius: 10px 0 10px 0;
                        }
                    }
                }
                .fx-logo {
                    img {
                        height: 80px;
                        vertical-align: middle;
                        margin: 0 20px;
                        border: 1px solid #e5e5e5;
                        padding: 10px;
                        background-color: #fff;
                        border-radius: 10px 0 10px 0;
                    }
                }
                .fx-home {
                    .fx-logo {
                        left: 20px;
                    }
                    .fx-tb-b {
                        padding: 0;
                        margin-right: 40px;
                        h4 {
                            width: 100px;
                            text-align: center;
                            float: right;
                            box-shadow: 1px 1px 4px #d5d5d5;
                            border: 1px solid #dedede;
                            margin-bottom: -1px;
                            color: #666;
                            line-height: 30px;
                            font-weight: bold;
                            font-size: 12px;
                            background: #f0f0f0;
                            margin-right: -100px;
                        }
                        .div-h4 {
                            width: 100px;
                            text-align: center;
                            float: right;
                            box-shadow: 1px 1px 4px #d5d5d5;
                            border: 1px solid #dedede;
                            margin-bottom: -1px;
                            color: #666;
                            line-height: 30px;
                            font-weight: bold;
                            font-size: 12px;
                            background: #f0f0f0;
                            margin-right: -100px;
                        }
                        li {
                            line-height: 31px;
                            display: block;
                            clear: both;
                            b {

                                display: none;
                                width: 100px;
                                text-align: center;
                                float: right;
                                box-shadow: 1px 1px 4px #d5d5d5;
                                border: 1px solid #dedede;
                                margin-bottom: -1px;
                                color: #666;
                                line-height: 30px;
                                font-weight: normal;
                            }
                            .fx-td-data2 {
                                float: right;
                                border-radius: 3px 0 0 3px;
                                margin: 7px 0 0 -0;
                                height: 18px;
                            }
                            span {
                                float: right;
                                display: inline-block;
                                color: #de682f;
                                font-size: 14px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                .fx-guest {
                    .fx-logo {
                        right: 20px;
                    }
                    .fx-tb-b {
                        padding: 0;
                        margin-left: -61px;
                        h4, b {
                            width: 100px;
                            text-align: center;
                            float: left;
                            box-shadow: 1px 1px 4px #d5d5d5;
                            border: 1px solid #dedede;
                            margin-bottom: -1px;
                            color: #666;
                            line-height: 30px;
                            font-weight: bold;
                            font-size: 12px;
                        }
                        .div-h4 {
                            width: 100px;
                            text-align: center;
                            float: left;
                            box-shadow: 1px 1px 4px #d5d5d5;
                            border: 1px solid #dedede;
                            margin-bottom: -1px;
                            color: #666;
                            line-height: 30px;
                            font-weight: bold;
                            font-size: 12px;
                        }
                        b {
                            font-weight: normal;
                        }
                        li {
                            display: block;
                            clear: both;
                            line-height: 30px;
                            .fx-td-data2 {
                                height: 18px;
                                float: left;
                                margin: 7px 0 0 -0;
                                border-radius: 0 3px 3px 0;
                            }
                            span {
                                display: inline-block;
                                float: left;
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    #analyMap {
        position: fixed; 
        top: 169px; 
        right: 41.5px; 
        left: 1496.5px;
        a {
            width: 66px;
            text-align: center;
            color: #fff;
            line-height: 26px;
            margin-bottom: 2px;
            display: block;
            background-color: $secondary;
            &:hover, &:first-child {
                background-color: $tabsactive !important;
            }
        }
    }

    .porletP {
        .option-table {
            justify-content: flex-end;
        }
    }
   

    .datacom-box {
        background: #fff;
        padding: 10px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            vertical-align: middle;
            .datacom-lists {
                padding: 0;
                margin: 0 0 5px 0;
                border: 0;
                .data {
                    color: #1b1b1b;
                    text-align: center;
                    line-height: 24px;
                    padding: 8px 0 0 0;
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    span {
                        font-size: 14px;
                        flex: 0 0 auto;
                        padding: 0 4px;
                    }
                }
            }
        }
        .barbox {
            background: #ebebeb;
            height: 6px;
            border-radius: 20px;
            margin: 0;
            .bar {
                width: 50%;
                float: left;
                padding: 0 1px;
                .Ht {
                    background: #e00606;
                    height: 6px;
                    border-radius: 10px 0 0 10px;
                    display: inline-block;
                    float: right;
    
                    &.win {
                        background: #e00606;
                    }
                    &.loss {
                        background: #bfbfbf;
                    }
                }
                .Gt {
                    background: #bfbfbf;
                    float: left;
                    height: 6px;
                    border-radius: 0 10px 10px 0;
                    display: inline-block;
    
                    &.win {
                        background: #e00606;
                    }
                    &.loss {
                        background: #bfbfbf;
                    }
                }
            }
        }
        .b {
            font-weight: 500 !important;
            color: #1b1b1b;
        }
        .tc {
            text-align: center;
            padding: 5px 10px;
            border-bottom: solid 1px #f5f5f5;
        }
        .a-more {
            color: #0b73c5 !important;
            text-decoration: underline !important;
        }
    }
        .table-score {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            margin: 0px;
            gap: 10px;
    
            @media (max-width: 1100px) {
                flex-wrap: wrap;
            }
    
            .guest-div {
                width: 50%;
                padding: 0;
    
                @media (max-width: 1100px) {
                    width: 100%;
                }
            }
    
            .home-div {
                width: 50%;
                padding: 0;
    
                @media (max-width: 1100px) {
                    width: 100%;
                }
            }
        }
}

.team-away-f, 
.team-table-guest .teamcolor, .blueLink {
    color: #3f9ed8;
}
.o-none {
    background-color: #999 !important;
}
.win-f {
    color: $secondary
}
.lose-f {
    color: #f00;
}