// @import '_colors.scss';

.searchWin {
	border-radius: 8px;
	.fl {
		float: left;
	}
	.fr {
		float: right;
	}
	.blur {
		padding-left: 6px;
	}
	.icon {
		display: inline-block;
		vertical-align: -1px;
		&.icon-font-collect-on {
			color: $yellow60 !important;
			font-size: 20px;
			cursor: pointer;
		}
		&.icon-font-collect-off {
			color: var(--gray50);
			font-size: 20px;
			cursor: pointer;
		}
	}
	.dark {
		.nodata_pic {
			opacity: .7;
		}
	}
	.popupbox {
		background: var(--bgcolor-1);
		min-width: 210px;
		padding: 10px;
		border-radius: 8px;
		box-shadow: 0 5px 15px var(--black20);
		cursor: auto;
		transition: all .2s linear;
		z-index: 1000;
		&.sch {
			width: 100%;
			// height: 550px;
			padding: 0;
			overflow: hidden;
			&.hot {
				height: auto;
				// padding-bottom: 5px;
			}
		}
		&.slt {
			min-width: 100px;
			top: 40px;
			left: auto;
			transform: translate(50%,0);
			li {
				color: $textcolor-1;
				text-align: center;
				line-height: normal;
				padding: 8px 10px;
				border-radius: 4px;
				display: block;
				cursor: pointer;
				&:hover {
					background: var(--bgcolor-2);
				}
				&.on {
					background: var(--primary-color)!important;
					color: var(--text-white);
				}
			}
		}
		.popuptit {
			background: #e5e5e5;
			color:  #666;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			padding-bottom: 10px;
			// margin-bottom: 10px;
			position: relative;
			clear: both;
			.tit {
				color: #222;
				font-size: 14px;
				line-height: 30px;
				font-weight: bold;
				margin-right: 10px;
				float: left;
			}
		}
	}
	.searchbox {
		float: left;
		background: #fff;
		// color: var(--white);
		font-size: 12px;
		line-height: 30px;
		text-align: left;
		width: 55%;
		padding: 4px 15px;
		border-radius: 30px;
		display: inline-block;
		overflow: hidden;
	}
	.sch {
		.popupinfo {
			max-height: 550px;
			min-height: 550px;
			padding: 0 10px;
			overflow-y: auto;
		}
		.searchbox {
			background: #fff;
			margin: 0;
			padding: 0 6px;
			border-radius: 4px;
			margin-bottom: 5px;
			input {
				width: 100%;
				line-height: 30px;
				border: 0;
				padding-left: 0;
			}
		}
		.sch_list {
			width: 48%;
			font-size: 12px;
			line-height: 16px;
			float: left;
			padding: 5px;
			margin: 0 10px 10px 0;
			border: 1px solid $border-2;
			border-radius: 4px;
			cursor: pointer;
			transition: all .2s linear;
			&:nth-child(even) {
				margin-right: 0;
			}
			&:hover {
				background: $yellow20;
			}
			.icon {
				margin: 8px 0;
			}
		}
		.sch_box {
			width: 90%;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.remark {
			color: var(--textcolor-3);
			font-weight: normal;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.popuptit {
			padding: 10px 5px 5px 10px;
		}
	}
	.scorelists {
		display: flex;
		align-items: center;
		text-align: center;
		font-size: 12px;
		padding: 6px 0;
		border-bottom: 1px solid $border-2;
		cursor: pointer;
		&:hover {
			.score {
				background: $goalbg;
			}
		}
		&.noturn {
			&:hover {
				.score {
					background: $bgcolor-3;
				}
			}
		}
		span {
			flex: 1 0 auto;
			display: flex;
			justify-content: center;
		}
		.icon {
			width: 32px;
			margin: 3px 0;
			flex: 0 auto;
		}
		.time {
			color: var(--textcolor-3);
			width: 40px;
			line-height: 14px;
			i {
				&::after {
					// content: "'";
					// margin-left: 2px;
					animation: second 1s infinite;
				}
			}
		}
		.state {
			color: $blue40;
			width: 70px;
			line-height: 14px;
			display: ruby;
			i {
				&::after {
					// content: "'";
					// margin-left: 2px;
					animation: second 1s infinite;
				}
			}
		}
		.htname {
			width: 168px;
			line-height: 14px;
			text-align: right;
			padding-right: 5px;
			justify-content: flex-end;
		}
		.score {
			width: 50px;
			background: var(--bgcolor-2);
			color: var(--textcolor-3);
			font-size: 14px;
			font-weight: bold;
			line-height: 28px;
			border-radius: 3px;
			font {
				padding: 0 2px;
			}
			&.hih {
				color: $blue40;
			}
			&.ft {
				color: $red60;
				.on {
					color: $textcolor-1;
				}
			}
		}
		.gtname {
			width: 168px;
			line-height: 14px;
			text-align: left;
			padding-left: 5px;
			justify-content: flex-start;
		}
		.yellowcard {
			background: var(--yellow60);
		}
		.hfscore {
			width: 42px;
			color: var(--textcolor-3);
		}
		.amticon {
			background: var(--red60);
			width: 14px;
			height: 14px;
			line-height: 20px;
			border-radius: 2px;
			padding: 2px;
			margin: 0 3px;
			vertical-align: -5px;
			cursor: pointer;
			&.on {
				background: var(--blue60);
			}
		}
		.odds {
			color: var(--textcolor-2);
			width: 42px;
			&.up {
				background: var(--redbg);
			}
			&.down {
				background: var(--greenbg);
			}
		}
	}
	.close {
		width: 30px;
		height: 30px;
		display: inline-block;
		overflow: hidden;
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translate(0,-50%);
		cursor: pointer;
		&::after {
			transform: translate(-50%,0) rotate(-45deg);
		}
	}
	.leaguetit {
		background: $table_header;
		border-radius: 0 0 4px 4px;
		.link {
			&:hover {
				color: var(--thirdly-color);
				text-decoration: underline;
				cursor: pointer;
			}
		}
		.icon {
			color: var(--textcolor-3);
			width: 32px;
			height: 32px;
			line-height: 32px;
			text-align: center;
			cursor: pointer;
		}
	}
	.typebtn {
		background: var(--bgcolor-2);
		margin: 0 auto;
		border-radius: 4px;
		display: flex;
		align-items: center;
		li {
			float: left;
			flex: 1;
			color: var(--textcolor-2);
			font-size: 12px;
			text-align: center;
			line-height: 30px;
			border-radius: 4px;
			cursor: pointer;
			&:hover {
				color: $primary;
			}
			&.on {
				background: $primary;
				color: #fff;
			}
		}
	}
	.popuptit {
		.typebtn {
			background: #fff;
			width: 85%;
			&.sort {
				width: 300px;
				margin: 0 10px 5px 10px;
				float: left;
        padding-left: 0;
			}
		}
	}
	input {
		&:focus {
			padding-left: 6px;
		}
	}
	.searchwin_nodata {
		color: var(--textcolor-3);
		padding: 20px;
		text-align: center;
		font-size: 12px;
		line-height: 22px;
	}
	.nodata {
		margin-top: 100px;
	}
	.hot {
		.popupinfo {
			// max-height: initial;
			// overflow: unset;
		}
	}
	.hotlist {
    ul {
      padding-left: 0;
    }
		margin-top: 15px;
		.title {
			color: #222;
			font-size: 14px;
			font-weight: 600;
			line-height: 30px;
			text-align: left;
			border-bottom: 1px solid #f0f0f0;
			padding: 0 10px;
		}
		li {
			color: $textcolor-1;
			width: 49%;
			padding: 10px;
			margin: 0 4px 0 0;
			border-radius: 2px;
			float: left;
			display: flex;
			align-items: center;
			cursor: pointer;
			&:hover {
				background-color: $yellow20;
			}
		}
		img {
			width: 20px;
			height: 20px;
			margin-right: 5px;
			position: relative;
			display: inline-block;
		}
	}
}
.searchWin .popupbox h2,.searchWin .popupbox .mh2 {
	color: var(--textcolor-2);
	font-size: 14px;
	line-height: 30px;
}
.searchWin .sch .sch_list:hover,.searchWin .scorelists:hover {
	background: $yellow20;
}
.searchWin .scorelists.noturn:hover,.searchWin .sch .sch_list.noturn:hover {
	background: var(--bgcolor-2);
	cursor: text;
}
.searchWin .close::before,.searchWin .close::after {
	content: "";
	background: var(--gray50);
	height: 1px;
	width: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,0) rotate(45deg);
	position: absolute;
}
.searchWin .leaguetit h2,.searchWin .leaguetit .mh2 {
	color: $textcolor-1;
	font-size: 12px;
	line-height: 32px;
	font-weight: 600;
	display: inline-block;
}
.searchWin .scorelists .htname.on,.searchWin .scorelists .gtname.on {
	background: var(--goalbg);
}
.searchWin .scorelists .htname font,.searchWin .scorelists .gtname font {
	display: contents;
}
.searchWin .scorelists .redcard,.searchWin .scorelists .yellowcard {
	background: var(--red60);
	color: var(--text-white);
	width: 10px;
	height: 12px;
	font-size: 11px;
	line-height: 12px;
	font-style: normal;
	text-align: center;
	margin: 0 2px;
	border-radius: 2px;
	display: inline-block;
}
.searchWin .popupbox .popuptit::after,.searchWin .popupbox .typebtn::after {
	content: "";
	display: block;
	clear: both;
}
.searchWin input,.searchWin select {
	color: var(--textcolor-2);
	background: none;
	line-height: 24px;
}
.searchWin input:focus,.searchWin select:focus {
	border: 0;
	outline: 0;
}
#basketball {
	.scorelists {
		.score {
			width: 80px;
		}
	}
}
#basketball .scorelists .htname,#basketball .scorelists .gtname {
	width: 150px;
}

#modal_search {
  .modal-header {
    background-color: #e5e5e5;
    padding-top: 0;
    padding-bottom: 0;
  }

  .modal-body {
    padding-left: 0;
    padding-right: 0;

    a.match {
      color: #000;
    }
  }
}

@media only screen and (max-width: 768px) {
	.searchWin {
		.scorelists {
			.state {
				width: auto;
				padding: 0 5px;
			}
			.htname, .gtname {
				width: auto;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				max-width: 90px;
				display: block;
				text-align: left;
			}
		}
	}
}